.bck-navbar {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #1976d2;

  .mat-icon {
    font-size: 32px !important;
    height: 32px !important;
    width: 32px !important;

    &.lg {
      font-size: 42px !important;
      height: 42px !important;
      width: 42px !important;
    }
  }

  .nav-link {
    background: transparent;
    line-height: 1.2;
    font-size: 1rem;
    padding: 6px 16px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
    cursor: pointer;

    &:hover,
    &.active {
      color: #fff;
    }
  }

  .sidenav-container {
    background-color: #1976d2;
    box-shadow: -4px -1px 6px -4px #cfcfcf;
    height: 100vh;
  }

  mat-sidenav {
    width: 300px;
  }

  .spacer-sidenav {
    flex: 1 1 auto;
  }
}
