.bck-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #1976d2;

  .mat-icon {
    font-size: 32px !important;
    height: 32px !important;
    width: 32px !important;

    &.lg {
      font-size: 42px !important;
      height: 42px !important;
      width: 42px !important;
    }
  }

  .button {
    background: transparent;
    line-height: 1.2;
    font-size: 1rem;
    padding: 6px 16px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}
