.counter-container {
  max-width: 340px;
}

button {
  border: none;
  border-radius: 16px;
  box-shadow: 5px 5px 5px #000;
  min-width: 150px;
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  background-color: orangered;
  color: aliceblue;
  cursor: pointer;
  transition: 100ms ease-in-out;

  &:active {
    transform: scale(0.9);
  }
}
