<h2>Directives & Transform pipes</h2>

<!--
<div class="flex flex-wrap gap-16 w-full">
  <app-course-card
    *ngFor="let directive of directives"
    [title]="directive[0]"
    image="assets/img/angular-logo.svg"
  >
    <ul *ngIf="directive[1].length">
      <li *ngFor="let detail of directive[1]">
        {{ detail.name | uppercase }}
      </li>
    </ul>
  </app-course-card>
</div>
-->

<!-- Panel component - ng-content -->
<div class="grid-wrapper">
  <app-panel>
    <div panel-title>Panel Title</div>
    <p>Contenuto panel - ng-content</p>
  </app-panel>

  <!-- Message component - ng-container -->
  <app-message></app-message>
  <!-- NgTemplate -->
  <app-ng-template></app-ng-template>
  <!-- Custom Directive -->
  <app-highlight-directive></app-highlight-directive>
  <!-- DatePipe Directive -->
  <app-date-pipe></app-date-pipe>
  <!-- CurrencyPipe Directive -->
  <app-currency-pipe></app-currency-pipe>
  <!-- AddressBook PhonePipe and UppecasePipe -->
  <app-address-book></app-address-book>
</div>
