<main class="l-main" role="main">
  <!--  <div *ngIf="navbarService.showContent$ | async" class="grid-wrapper"> -->
  <div *ngIf="showCourses" class="grid-wrapper">
    <app-course-card
      class="grid-item"
      *ngFor="let component of components"
      headline="Slide Angular"
      [title]="component.title"
      [image]="component.image"
      [routerLink]="component.path"
    >
    </app-course-card>
  </div>

  <div class="wrapper">
    <router-outlet></router-outlet>
  </div>
</main>
