.bck-user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
  width: 100%;

  li {
    max-width: 160px;
    padding: 8px 10px;
    border-radius: 8px;
    background: #cecccc85;
  }
}
