@use "sass:math";

.spacer {
  flex: 1;
}

.content {
  display: flex;
  margin: 82px auto;
  padding: 0 1rem;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: grid;
  width: 90%;
  place-self: center;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 5fr));
  width: 100%;
  gap: 2rem;
  padding: 2rem;

  .grid-item {
    place-self: start center;
  }
}

.w-full {
  width: 100%;
}

.w-screen {
  width: 100vw;
}

.h-full {
  height: 100%;
}

.h-screen {
  height: 100vh;
}
